<!-- START Spinner Div -->
<div *ngIf="spinner" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching Segments
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->

<div class="content-wrapper" *ngIf="!spinner">
  <h2>Segments</h2>

  <div class="d-flex align-items-center justify-content-between mb-20">
    <div class="w-50">
      <mat-form-field class="w100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to Filter Results">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="fireSegmentCreation()">+ Create Segment</button>
    </div>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w100">

      <!-- ID Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Segment Name </th>
        <td mat-cell *matCellDef="let row">
            {{row.segment_name}}
            <!-- <div class="segment-template-name" (click)="fireEditAction(row)">
              {{row.segment_name}}
            </div> -->
        </td>
      </ng-container>

      <!-- Progress Column -->
      <!-- <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Users </th>
        <td mat-cell *matCellDef="let row"> {{row.segment_email.length }} </td>
      </ng-container> -->

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Enabled </th>
        <td mat-cell *matCellDef="let row"> {{row.email_enable_count}} </td>
      </ng-container>

      <ng-container matColumnDef="push">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Push Enabled </th>
        <td mat-cell *matCellDef="let row"> {{row.push_enable_count}} </td>
      </ng-container>

      <ng-container matColumnDef="sms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sms Enabled </th>
        <td mat-cell *matCellDef="let row"> {{row.sms_enable_count}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date created</th>
        <td mat-cell *matCellDef="let row"> {{row.created |date : "dd/MM/yyyy hh:mma" : 0}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="fireCloneAction(row)" matToolbar="Clone">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="fireEditAction(row)" matToolbar="Edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

</div>