.campaign-modal-btn{
    margin: 2px;
    width: 97%;
}

.campaign-h{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.campaign-close-btn{
    float: right;
    margin-top:10px !important;
}