<h3 class="campaign-h">
    SELECT CAMPAIGN TYPE
</h3>

<div class="w-100p">

  <div class="w-33p float-left">
      <button class="campaign-modal-btn" mat-raised-button color="primary" (click)="segmentTriggered()">
          Segment Triggered
        </button>
  </div>

    
  <div class="w-33p float-left">
<button class="campaign-modal-btn" mat-raised-button color="primary"  (click)="eventTriggered()">
  Event Triggered
</button>
</div>

<div class="w-33p float-left">
<button class="campaign-modal-btn" mat-raised-button color="primary" (click)="oneTime()">
    One Time Send
</button>
</div>

</div>

<button mat-raised-button color="warn" class="campaign-close-btn" (click)="dismiss()"> 
  Close
</button>

<div style="clear:both">
</div>