<div class="content-wrapper">

  <div class="row">

    <!-- START -> Preview DIV -->
    <div class="col-sm-6">

      <mat-form-field class="mr-10">
        <input templateNameOnly matInput placeholder="Enter Template Name" [disabled]="edit_mode" [(ngModel)]="template_name" required
        maxlength="30">
        <mat-error *ngIf="template_name_error">Enter a Valid Template Name</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Email's Subject" [(ngModel)]="subject" required>
        <mat-error *ngIf="subject_error">Enter a Valid Subject</mat-error>
      </mat-form-field>
      <br>

      <div [froalaEditor] [(froalaModel)]="template_content">Hello</div>
      
    </div>
    <!-- END -> Preview DIV -->

    <!-- START -> Email Code Div -->
    <div class="col-sm-6">

        <h4 *ngIf="!edit_mode">Create Email Template</h4>
        <h4 *ngIf="edit_mode">Edit Email Template</h4>

      <div class="html-preview w-100p">
        <mat-form-field class="w-100p">
          <textarea matInput placeholder="Content Goes Here" [(ngModel)]="template_content"
          class="email-textarea"></textarea>
        </mat-form-field>
      </div>

      <div>

          <button mat-raised-button color="accent" *ngIf="!edit_mode" (click)="createEmailTemplate()"
          class="primary-btn m-r-10">Create</button>
    
          <button mat-raised-button color="accent" *ngIf="edit_mode" (click)="updateEmailTemplate()"
          class="primary-btn m-r-10">Update</button>
    
          <button mat-raised-button color="primary" *ngIf="!edit_mode" (click)="saveAndSendEmail()"
          class="primary-btn">Create And Send</button>

      </div>

    </div>
    <!-- END -> Email Code Div -->

  </div>

</div>