.phone-image {
    width: 85%;
}

.notif-wrapper{
    position: absolute;
    top: 17%;
    width: 190px;
    left: 11px;
}

.notif-box {
    background-color: whitesmoke;
    min-height: 45px;
    display: flex;
    align-items: center;
}

.notif-icon > img {
    width: 45px;
}

.preview-btn-div{
    margin-top: -28px;
    background: #000;
    opacity: 0.7;
    width: 100%;
    text-align: right;
    padding-top: 2px;
    padding-right: 2px;
}

.phone-img{
    width: 210px;
}

.pn-preview-title{
    font-size: 12px;
    font-weight: 800;
}

.pn-preview-content{
    width: 100%;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 10px;
    overflow: hidden;
}