
<div style="position:relative">
  <!-- <img class="phone-img" src="assets/nexus2cee_notification-groups-android-o-728x370.png" alt=""> -->
  <img class="phone-img" src="assets/phone.png" alt="">
  
  <div class="notif-wrapper">
    <div class="notif-box">
      <div class="notif-icon">
        <img src={{data.template_content.content.large_icon}} alt="">
      </div>
      <div>
        <div class="pn-preview-title">
          <b>{{data.template_content.content.title}}</b>
        </div>
        <div class="pn-preview-content" *ngIf="data.template_content.content.body">
          {{data.template_content.content.body | limitTo:28}} 
          <span *ngIf="data.template_content.content.body.length > 28">...</span>
        </div>
      </div>
    </div>
    <div *ngIf="data.selected_type > 2" class="w100">
      <img src={{data.template_content.content.big_image}} style="width: inherit" alt="">
    </div>
    <div *ngIf="data.selected_type > 0 && data.selected_type != 3 " class="float-right preview-btn-div">

      <button class="m-r-10 preview-btn" *ngIf="data.selected_type == 1 || data.selected_type == 4 || data.selected_type == 2 || data.selected_type == 5 ">
        Cancel
      </button>

      <button class="preview-btn" *ngIf="data.selected_type == 2 || data.selected_type == 5 ">OK</button>

    </div>
    <div style="clear:both"></div>
  </div>

</div>