<!-- START Spinner Div -->
<div *ngIf="spinner" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching PN Templates
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->

<div class="content-wrapper" *ngIf="!spinner">
  <h2>Push Notifications</h2>

  <div class="d-flex align-items-center justify-content-between mb-20">
    <div class="w-50">
      <mat-form-field class="w100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to Filter Results">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="firePushCreation()">+ Create Push Notif</button>
    </div>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w100">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name</th>
        <td mat-cell *matCellDef="let row"> 
            <div class="pn-template-name" (click)="fireEditAction(row)">{{row.template_name}}</div>  
        </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Send </th>
        <td mat-cell *matCellDef="let row"> {{row.number_of_user}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivered </th>
        <td mat-cell *matCellDef="let row"> {{row.number_of_delivered}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clicked </th>
        <td mat-cell *matCellDef="let row"> {{row.number_of_clicked }} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let row"> {{row.created |date : "dd/MM/yyyy hh:mma" : 0 }} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="sendPushAction(row)" matTooltip="Send">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="fireCloneAction(row)" matTooltip="Clone">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="fireEditAction(row)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="firePreviewAction(row)">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>