<div class="modal-wrapper">
  <h3>Send Your Push Notification</h3>
  <div>Selected Template: {{sending_payload.template_name}}</div>
  <mat-form-field>
    <mat-select [(ngModel)]="target_user_group" placeholder="Select Target Users">
      <mat-option value="0">All Users</mat-option>
      <mat-option value="1">Specific Users</mat-option>
      <mat-option value="2">Segment Of Users</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="target_user_group == 1">
    <input matInput placeholder="Enter Comma Seperated Emails" [(ngModel)]="user_emails" required>
  </mat-form-field>
  <mat-form-field *ngIf="target_user_group == 2">
    <mat-select [(ngModel)]="selected_segment" placeholder="Select User Segment">
      <mat-option *ngFor="let segment of segments_list" [value]="segment">{{segment.segment_name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="sendPushNotif()">Go</button>

</div>