<!-- START Spinner Div -->
<div *ngIf="spinner" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching Live Events
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->

<div class="content-wrapper"  *ngIf="!spinner">
  <h2>Live Events</h2>

  <div class="w-50" *ngIf="event_data_count > 0">
    <mat-form-field class="w100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to Filter Results">
    </mat-form-field>
  </div>

  <!-- START Table data -->
  <div class="mat-elevation-z8"  *ngIf="event_data_count > 0">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows
     matSort class="w100">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Email </th>
        <td mat-cell *matCellDef="let row"> {{row.user_email}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
        <td mat-cell *matCellDef="let row"> {{row.platform}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Event </th>
        <td mat-cell *matCellDef="let row"> {{row.event}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.created |date : "dd/MM/yyyy hh:mma" : 0}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <div class="w-100p desc-main-div">
            <div class="desc-div" *ngFor="let prop of row.new_properties | orderBy : 'property_name'">
              <b>{{prop.property_name}}</b> : {{prop.value}} 
            </div>
          </div>
        </div>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = row">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator> -->
  </div>
  <!-- END Table data -->

  <!-- START no Table data -->
  <div class="mat-elevation-z8 p-5"  *ngIf="event_data_count <= 0">
    <table class="custom-table">
      <thead>
        <tr>
          <th>User Email</th>
          <th>Platform</th>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="text-center">No Data Availeble</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- END no Table data -->

</div>