<div class="d-flex flex-column align-items-center justify-content-center vh-100 login-main-div"
style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), 
url('assets/login_backgrond.png')">
    <div class="login-div">

            <div class="m">
                    <div class="login-heading">
                        DEXTER'S LAB
                    </div>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="login-form-fields">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Your Username" [(ngModel)]="username" 
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="login-form-fields">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Your Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button color="primary" (click)="userLogin(username, password)"
                    class="login-btn">
                        Login
                    </button>
                </div>

    </div>
</div>