/* .login-main-div{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), 
    url('assets/login_backgrond.png')
} */

.login-div{
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
}

.login-heading{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-form-fields{
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
}

.login-btn{
    background: #212529;
    width: 100px;
}


