.segment-box{
    background-color: lightgray;
    border-radius: 5px;
    padding: 30px 20px;
    margin-bottom: 10px;
}

.create-seg-ul{
    list-style: none;
    padding: 5px;
    margin-top : 38px;
}

.create-seg-left-btn{
    width: 150px;
    height: 50px;
    padding: 10px;
}

.create-seg-active-btn{
    background-color: rgba(153, 153, 153, 0.5) !important;
    color: #fff;
    border-radius: 5px;
}

.create-seg-save-desc{
    font-size: 14px;
    word-break: break-all;
}

.create-seg-info-table > thead > tr > th,
.create-seg-info-table > thead > tr > td,
.create-seg-info-table > tbody > tr > th,
.create-seg-info-table > tbody > tr > td{
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif;
}