<!-- START Spinner Div -->
<div *ngIf="progress_bar" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching Segment Data
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->



<div class="content-wrapper" *ngIf="!progress_bar">

  <h4 *ngIf="!edit_mode">Create a Segment</h4>
  <h4 *ngIf="edit_mode">Edit Segment</h4>

  <mat-form-field class="w-75">
    <input matInput placeholder="Enter a Name For this segment" [(ngModel)]="creation_payload.segment_name"
    templateNameOnly [disabled]="edit_mode" maxlength="30">
  </mat-form-field>
  <br>

  <div class="row">

      <div class="col-sm-8">

          <div class="row">

            <!-- START Tab Div -->
              <div class="col-sm-3">
        
                <ul class="create-seg-ul">
                    <li class="create-seg-left-btn" (click)="toggleSegmentType('recent')"
                    [ngClass]="{'create-seg-active-btn' : active_tab == 'recent'}">
                        Recent Activity
                    </li>
                    <li class="create-seg-left-btn" (click)="toggleSegmentType('lifetime')"
                    [ngClass]="{'create-seg-active-btn' : active_tab == 'lifetime'}">
                        Lifetime Activity
                    </li>
                    <li class="create-seg-left-btn" (click)="toggleSegmentType('demographic')"
                    [ngClass]="{'create-seg-active-btn' : active_tab == 'demographic'}">
                        Demographics
                    </li>
                </ul>
        
                  <!-- <mat-checkbox class="mr-10" [(ngModel)]='recent_segment' (click)="toggleSegmentType('recent')">
                    Recent Activity
                  </mat-checkbox>
                  <br>
                  <mat-checkbox class="mr-10" [(ngModel)]='lifetime_segment' (click)="toggleSegmentType('lifetime')">
                    Lifetime Activity
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]='demographic_segment' (click)="toggleSegmentType('demographic')">
                    Demographics
                  </mat-checkbox> -->
                        
              </div>
              <!-- END Tab Div -->
        
              <div class="col-sm-9">

                <div *ngIf="active_tab === 'recent'">

                    <h6 class="m-l-10">Filter Users by their recent Activity</h6>

                    <mat-card class="m-t-30">
                  
                        <div>
                            <mat-form-field class="">
                                <mat-select placeholder="Select an Event" [(ngModel)]="creation_payload.recent_activity.event_name" required>
                                  <mat-option *ngFor="let event of event_list | orderBy" value={{event}}>{{event}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    
                        <div>
                            <mat-form-field class="">
                                <input matInput [matDatepicker]="picker" 
                                placeholder="Start Date" [(ngModel)]="creation_payload.recent_activity.date_range[0]" required disabled>
                                <!-- placeholder="Input & change events" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event) -->
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                              </mat-form-field>
                        </div>
                    
                        <div>
                            <mat-form-field class="">
                                <input matInput [matDatepicker]="picker2" [min]="creation_payload.recent_activity.date_range[0]" placeholder="End Date"  
                                [(ngModel)]="creation_payload.recent_activity.date_range[1]" required disabled>
                                <!-- placeholder="Input & change events" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event) -->
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                              </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                              <button mat-raised-button class="primary-btn" color="primary" (click)="saveSegment(active_tab)">
                                Save
                              </button>
                            </div>
                        </div>
                    
                      </mat-card>

                </div>

                <div *ngIf="active_tab === 'lifetime'">

                    <h6 class="m-l-10">Filter Users by their Lifetime Activity</h6>

                    <mat-card class="m-t-30">
                    
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Select Activity" [(value)]="creation_payload.lifetime_activity.field_name">
                                  <mat-option value="Lifetime_revenue">Lifetime Revenue</mat-option>
                                  <mat-option value="Lifetime_visits">Lifetime Visits</mat-option>
                                  <mat-option value="Lifetime_order">Lifetime Orders</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Select Condition" [(value)]="creation_payload.lifetime_activity.condition_name">
                                    <mat-option value="greater_than">Greater Than</mat-option>
                                    <mat-option value="less_than">Less Than</mat-option>
                                    <mat-option value="equal_to">Equal To</mat-option>
                                  </mat-select>
                              </mat-form-field>
                        </div>
                        
                        <div>
                            <mat-form-field>
                                <input myNumberOnly matInput placeholder="Select Value" [(ngModel)]="creation_payload.lifetime_activity.value">
                              </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                              <button mat-raised-button class="primary-btn" color="primary" (click)="saveSegment(active_tab)">
                                Save
                              </button>
                            </div>
                        </div>
                    
                      </mat-card>

                </div>
        
                <div *ngIf='active_tab === "demographic"'>

                    <h6 class="m-l-10">Filter Users by Demographics</h6>

                    <mat-card class="m-t-30">
                  
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Select User gender" [(value)]="creation_payload.demographic_activity.gender">
                                  <mat-option value="male">Male</mat-option>
                                  <mat-option value="female">Female</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Select User City" [(value)]="creation_payload.demographic_activity.location_name">
                                  <mat-option *ngFor="let city of city_list | orderBy" value={{city}}>{{city}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                              <button mat-raised-button class="primary-btn" color="primary" (click)="saveSegment(active_tab)">
                                Save
                              </button>
                            </div>
                        </div>
                    
                      </mat-card>

                </div>
                   
              </div>
        
          </div>

          <div class="row" *ngIf="!edit_mode">
              <div class="col-sm-12 text-right">
                <button mat-raised-button class="primary-btn m-t-20" (click)="saveSegment(active_tab);createSegment()" color="primary">
                  Save & Create
                </button>
              </div>
          </div>

          <div class="row" *ngIf="edit_mode">
              <div class="col-sm-12 text-right">
                <button mat-raised-button class="primary-btn m-t-20" (click)="saveSegment(active_tab);" color="primary">
                  Save & Update
                </button>
              </div>
          </div>

      </div>

      <!-- START Preview Div -->
      <div class="col-sm-4" 
      *ngIf="save_payload.recent_activity || save_payload.lifetime_activity || save_payload.demographic_activity">

        <mat-card>

            <table class="table create-seg-info-table">
                <thead>
                <tr>
                    <td colspan="2" class="text-center">Segment Details</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Total Users</td>
                    <td>{{segment_user_info.segment_email}}</td>
                </tr>
                <tr>
                    <td>Email Enabled</td>
                    <td>{{segment_user_info.email_enable_count}}</td>
                </tr>
                <tr>
                    <td>Push Enabled</td>
                    <td>{{segment_user_info.push_enable_count}}</td>
                </tr>
                <tr>
                    <td>SMS Enabled</td>
                    <td>{{segment_user_info.sms_enable_count}}</td>
                </tr>
                </tbody>
            </table>
        </mat-card>

          <mat-card class="m-t-30" *ngIf="save_payload.recent_activity">

            <h6>
              Recent Activity
              <i class="fa fa-remove mr-10 float-right" aria-hidden="true"
              (click)="save_payload.recent_activity = ''"></i>
              <div style="clear:both;"></div>
            </h6>

            <div class="create-seg-save-desc">
              Event <b>{{save_payload.recent_activity.event_name}}</b> is between
              <b>{{save_payload.recent_activity.date_range[0] | date : "dd/MM/yyyy"}}</b> and
              <b>{{save_payload.recent_activity.date_range[1] | date : "dd/MM/yyyy"}}</b>
            </div>
          
            </mat-card>

            <mat-card class="m-t-30" *ngIf="save_payload.lifetime_activity">

                <h6>
                  LifeTime Activity
              <i class="fa fa-remove mr-10 float-right" aria-hidden="true"
              (click)="save_payload.lifetime_activity = ''"></i>
              <div style="clear:both;"></div>
            </h6>
    
                <div class="create-seg-save-desc">
                  <b>{{save_payload.lifetime_activity.field_name}}</b> is 
                  <b> {{save_payload.lifetime_activity.condition_name}} </b> 
                  <b> {{save_payload.lifetime_activity.value}}</b>
                </div>
              
                </mat-card>

                <mat-card class="m-t-30" *ngIf="save_payload.demographic_activity">
    
                    <h6>
                      Demographic
                        <i class="fa fa-remove mr-10 float-right" aria-hidden="true"
                        (click)="save_payload.demographic_activity = ''"></i>
                        <div style="clear:both;"></div>
                      </h6>
        
                    <div class="create-seg-save-desc">

                        <div *ngIf="save_payload.demographic_activity.gender">
                          Gender is <b>{{save_payload.demographic_activity.gender}}</b>
                        </div>
                        <div *ngIf="save_payload.demographic_activity.location_name">
                          City is <b>{{save_payload.demographic_activity.location_name}}</b>
                        </div>
                    </div>
                  
                    </mat-card>

      </div>
      <!-- END Preview Div -->

  </div>


</div>