<!-- START Spinner Div -->
<div *ngIf="spinner" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching Campaigns
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->

<div class="content-wrapper" *ngIf="!spinner">
  <h3>Campaigns</h3>

  <div>
      <div class="float-left">
          Page Size:
          <select (change)="onPageSizeChanged()" [(ngModel)]="page_size">
              <option value="10" selected="">10</option>
              <option value="15">15</option>
              <option value="25">25</option>
              <option value="50">50</option>
          </select>
      </div>
    <div class="float-right m-b-10">
      <button mat-raised-button color="primary" (click)="fireCampaignCreation()">+ Create Campaign</button>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div class="mat-elevation-z8">

    <ag-grid-angular  class="w100"
    style="height: 400px;" 
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [enableFilter]="true"
    [pagination]="true"
    [paginationPageSize] = "paginationPageSize"
    [enableSorting]="true"
    [rowData]="event_data" 
    [columnDefs]="columnDefs"
    >
    </ag-grid-angular>

  </div>

</div>