<div class="modal-wrapper">
  
  <div class="text-center">
      <h4 class="send-sms-h">Send Sms</h4>
  </div>

  <div>

      <div class="font-s-14">Selected Template: <b>{{template_name}}</b></div>

      <div class="m-t-5">
        <mat-form-field class="send-sms-form-fields">
          <mat-select [(ngModel)]="target_user_group" placeholder="Target Users" required>
            <!-- <mat-option value="0">All Users</mat-option> -->
            <mat-option value="1">Specific Users</mat-option>
            <mat-option value="2">Segment Of Users</mat-option>
          </mat-select>
          <mat-error *ngIf="form_errors.target_users">Select Target Users</mat-error>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field *ngIf="target_user_group == 1" class="send-sms-form-fields">
          <input matInput placeholder="Enter Comma Seperated User Numbers" [(ngModel)]="user_numbers" 
           required>
          <mat-error *ngIf="form_errors.specific_user_no">Enter User Number</mat-error>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field *ngIf="target_user_group == 2" class="send-sms-form-fields">
          <mat-select [(ngModel)]="selected_segment" placeholder="Select User Segment" 
          required>
            <mat-option *ngFor="let segment of segments_list" value="{{segment}}">{{segment.segment_name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form_errors.segment">Select User Segment</mat-error>
        </mat-form-field>
      </div>
    
      <button mat-raised-button class="primary-btn send-sms" (click)="sendSms()">Send SMS</button>

  </div>

</div>