.mat-column-smsName{
    width:15%;
}

.mat-column-smsCreated{
    width:200px;
}

.mat-column-smsAction{
    width:113px;
}

.sms-template-name{
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}