<!-- START Spinner Div -->
<div *ngIf="spinner" class="content-wrapper">
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>

      <h4 class="spinner-text">
        Fetching SMS Templates
        <span class="spinner-dot">
            <div class="sp-dot1">.</div>
            <div class="sp-dot2">.</div>
            <div class="sp-dot3">.</div>
        </span>
      </h4>

    </div>
</div>
</div>
<!-- END Spinner Div -->

<div class="content-wrapper" *ngIf="!spinner">
  <h4>SMS</h4>

  <div class="d-flex align-items-center justify-content-between mb-20">
    <div class="w-50">
      <mat-form-field class="w100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to Filter Results">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="fireSmsCreation()">+ Create SMS</button>
    </div>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w100">

      <!-- ID Column -->
      <ng-container matColumnDef="smsName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name </th>
        <td mat-cell *matCellDef="let row"> 
          <div class="sms-template-name" (click)="fireEditAction(row)">{{row.template_name}}</div>
           </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="smsContent">
        <th style="width:25% !important;" mat-header-cell *matHeaderCellDef mat-sort-header> Content </th>
        <td style="width:25% !important;" mat-cell *matCellDef="let row"> {{row.template_content}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="smsCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let row"> {{row.created |date : "dd/MM/yyyy hh:mma" : 0}} </td>
      </ng-container>

      <ng-container matColumnDef="smsAction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="sendSmsAction(row)" matTooltip="Send">
            <i class="fa fa-paper-plane"></i>
          </button>
          <button mat-icon-button (click)="fireCloneAction(row)" matTooltip="Clone">
            <i class="fa fa-clone"></i>
          </button>
          <br>
          <button mat-icon-button (click)="fireEditAction(row)" matTooltip="Edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="firePreviewAction(row)" matTooltip="Preview">
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

</div>