.phone-wrapper{
    position: relative;
    text-align: center;
}
.notif-overlay{
    position: absolute;
    background-color: #fafafa;
    width: 190px;
    top: 17%;
    left: 11px;
    padding: 10px 15px;
    text-align: left;
}
.sms-from{
    font-size: 12px;
    font-weight: 800;
}
.content{
    width: 100%;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 10px;
    overflow: hidden;
}

.sms-preview-phone{
    margin: auto;
    height: 410px;
    width: 210px;
}