<div class="modal-overlay phone-wrapper">
  <div class="notif-overlay">
    <div class="sms-from">VM-FLYROBE</div>
    <div class="content">{{data}}</div>
  </div>
  <img src="assets/phone.png" alt="" class="sms-preview-phone">
</div>