<div class="content-wrapper">

  <div class="row">

    <!-- START -> Preview DIV -->
    <div class="col-sm-6">
          <app-push-notif-preview [(data)]="creation_payload"></app-push-notif-preview>
    </div>
    <!-- END -> Preview DIV -->

    <div class="col-sm-6">

        <h4 *ngIf="!edit_mode">Create PN Template</h4>
        <h4 *ngIf="edit_mode">Edit PN Template</h4>

      <div>
        <mat-form-field class="w-75">
          <input templateNameOnly matInput placeholder="Enter A Name For This Template" [disabled]="edit_mode" 
          [(ngModel)]="creation_payload.template_name"
            required maxlength="30">
          <mat-error *ngIf="form_errors.name">Enter A Valid Template Name</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-75">
          <mat-select [(ngModel)]="creation_payload.selected_type" placeholder="Select A Template Type">
            <mat-option *ngFor="let type of template_types;let i=index" [value]="i">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="creation_payload.selected_type != -1">
        <mat-form-field class="w-75">
          <input matInput placeholder="Title" [(ngModel)]="creation_payload.template_content.content.title" required
          maxlength="25">
          <mat-error *ngIf="form_errors.title">Enter A Valid Title</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="w-75">
          <input matInput placeholder="Icon Url" [(ngModel)]="creation_payload.template_content.content.large_icon"
            required>
          <mat-error *ngIf="form_errors.iconurl">Enter A Valid Icon Url</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="w-75">
          <input matInput placeholder="Deeplink" [(ngModel)]="creation_payload.template_content.content.deeplink"
            required>
          <mat-error *ngIf="form_errors.deeplink">Enter A Valid Deeplink Url</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="w-75" *ngIf="creation_payload.selected_type > 2">
          <input matInput placeholder="Image Link" [(ngModel)]="creation_payload.template_content.content.big_image"
            required>
          <mat-error *ngIf="form_errors.image">Enter A Valid Image Url</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="w-75">
          <input matInput placeholder="Content" [(ngModel)]="creation_payload.template_content.content.body" required
          maxlength="150">
          <mat-error *ngIf="form_errors.content">Enter Some Content</mat-error>
        </mat-form-field>
      </div>
      <br>

      <button mat-raised-button color="accent" *ngIf="!edit_mode" (click)=savePushNotification()
      class="m-r-10 primary-btn">
        Create
      </button>
      <button mat-raised-button color="accent" *ngIf="edit_mode" (click)=updatePushNotification()
      class="m-r-10 primary-btn">
        Update
      </button>
      <button mat-raised-button color="primary" *ngIf="!edit_mode" (click)=saveAndSendPushNotification()
      class="primary-btn">
        Save And Send
      </button>
    </div>

  </div>