<div class="content-wrapper">

  <div class="row">

    <div class="col-sm-6">
      <div class="create-sms-phone-div">
          <app-sms-preview [(data)]="content"></app-sms-preview>
      </div>
    </div>

    <div class="col-sm-6">

        <h4 *ngIf="!edit_mode">Create SMS Template</h4>
        <h4 *ngIf="edit_mode">Edit SMS Template</h4>

      <div>
        <mat-form-field class="ng-touched w-75">
          <input templateNameOnly matInput [disabled]="edit_mode" placeholder="SMS Template Name" [(ngModel)]="title" required
          maxlength="30">
          <mat-error *ngIf="form_errors.name">Enter A Valid Template Name</mat-error>
        </mat-form-field>
      </div>
      
      <br>
      <div>
        <mat-form-field class="w-75">
          <textarea matInput placeholder="Content Goes Here" [(ngModel)]="content" required></textarea>
          <mat-error *ngIf="form_errors.content">Enter Valid Content</mat-error>
        </mat-form-field>
        <div class="error-div" *ngIf="form_errors.content_length_error">Max 250 characters allowed.</div>
      </div>
      <br>

      <button mat-raised-button color="accent" class="m-r-10 primary-btn" *ngIf="!edit_mode" 
      (click)="createSmsTemplate()">
      Create SMS
    </button>

      <button mat-raised-button class="m-r-10 primary-btn" color="accent" *ngIf="edit_mode" 
      (click)="updateSmsTemplate()">
        Update SMS
      </button>

      <button mat-raised-button class="primary-btn"  color="primary" *ngIf="!edit_mode" 
      (click)="saveAndSendSms()">
        Create And Send
      </button>

    </div>
  </div>