/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';

.content-wrapper{
    margin: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.w100{
    width: 100% !important;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
body{
    margin: 0
}

.mr-10 {
    margin-right: 10px;
}
.error-snack{
    background-color: red;
}

.fs-20{
    font-size: 20px;
}

.vh-100{
    height: 100vh
}

.modal-wrapper{
    margin: 10px;
}
.mat-step-header{
    pointer-events: none !important;
}


/* Common CSS */
.p-5 {
    padding: 5px;
}

.font-s-14{
    font-size : 14px !important;
}

.w-100p{
    width:100% !important;
}

.w-33p{
    width:33% !important;
}

.m-r-5 {margin-right :  5px !important;}
.m-r-10{margin-right : 10px !important;}

.m-t-5 {margin-top :  5px !important;}
.m-t-10{margin-top : 10px !important;}
.m-t-20{margin-top : 20px !important;}
.m-t-30{margin-top : 30px !important;}
.m-t-40{margin-top : 40px !important;}
.m-t-50{margin-top : 50px !important;}
.m-t-60{margin-top : 60px !important;}

.m-l-10{margin-left : 10px !important;}

.m-b-10{margin-bottom : 10px !important;}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.error-div{
    color: #f44336;
    font-size: 13px;
    margin-top: -14px;
}

.custom-table{
    width: 100%;
    border: 1px solid #bbb;
    color: #bbb;
}

.custom-table > thead > tr > th{
    border: 1px solid #bbb;
    font-weight: 500;
}

.custom-table > tbody > tr > td{
    border: 1px solid #bbb;
    font-weight: 300;
}

/******************* buttons ****************************/
.primary-btn{
    background: #212529 !important;
}

.preview-btn{
    background: transparent !important;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
}

/**************** wave spinner ****************************/
.spiner-example {
    padding-top: 150px;
}

  .spinner-text{
    margin-top: 20px;
    font-size: 15px;
  }

.sk-spinner-wave.sk-spinner {
    margin: 0 auto;
    width: 50px;
    height: 47px;
    text-align: center;
    font-size: 10px;
  }
  .sk-spinner-wave div {
    background-color: #212529;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-left: 2px;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  }
  .sk-spinner-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-spinner-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-spinner-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-spinner-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  @-webkit-keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }


  /******* Dot spinner *******/
  .spinner-dot {
    margin: 0 auto;
    height: 2px;
    text-align: center;
    font-size: 2px;
  }
  .spinner-dot div {
    background-color: #212529;
    height: 2px;
    width: 2px;
    display: inline-block;
    margin-left: 2px;
    border-radius: 1px;
    -webkit-animation: sk-dotDelay 1.2s infinite ease-in-out;
    animation: sk-dotDelay 1.2s infinite ease-in-out;
  }
  .spinner-dot .sp-dot1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .spinner-dot .sp-dot2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .spinner-dot .sp-dot3 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  @-webkit-keyframes sk-dotDelay {
    0%,
    100% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
    20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes sk-sk-dotDelay  {
    0%,
    100% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
    20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }