.channel-box {
    background-color: lightgrey;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.channel-box> h5 {
    text-transform: capitalize,
}

mat-step> ng-template{
    font-size: 22px !important;
}

.create-cam-time-field{
    width:20px !important;
}

.create-cam-meridian-field{
    width:40px !important;
}