<div class="content-wrapper">

  <!-- START -> Heading -->
  <h4>
    Create
    <span *ngIf="campaign_type === 'segment_triggered'">Segment Triggered</span>
    <span *ngIf="campaign_type === 'event_triggered'">Event Triggered</span>
    <span *ngIf="campaign_type === 'one_time_triggered'">One Time</span> Campaign
  </h4>
  <!-- END -> Heading -->

  <!-- START -> Basic Details -->
  <mat-card>

      <h5>Fill basic segment details</h5>

      <div>
          <mat-form-field class="w-75">
              <input matInput placeholder="Enter Campaign Name" [(ngModel)]="creation_payload.campaign_name"
              templateNameOnly maxlength="30">
          </mat-form-field>
      </div>

      <!-- START -> Start time Div -->
      <div>

          <mat-form-field class="mr-10">
              <input matInput [min]="min_date" [matDatepicker]="picker" placeholder="Choose a start date" 
              [(ngModel)]='creation_payload.start_date' disabled>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker  disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="create-cam-time-field">
                <input matInput [(ngModel)]="creation_payload.start_hours"
                myNumberOnly maxlength="2">
            </mat-form-field> 

            <span>:</span>

            <mat-form-field class="create-cam-time-field m-r-5">
                <input matInput [(ngModel)]="creation_payload.start_minutes"
                myNumberOnly maxlength="2">
            </mat-form-field>

            <mat-form-field class="create-cam-meridian-field">
                <mat-select [(value)]="creation_payload.start_meridies">
                  <mat-option *ngFor="let m of meridies" value={{m}}>{{m}}</mat-option>
                </mat-select>
            </mat-form-field>

      </div>
      <!-- END -> Start time Div -->

      <!-- START -> End time Div -->
      <div *ngIf="campaign_type !== 'one_time_triggered'">

          <mat-form-field class="mr-10">
              <input matInput [min]="creation_payload.start_date" [matDatepicker]="picker1" placeholder="Choose a end date" 
              [(ngModel)]="creation_payload.end_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1  disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="create-cam-time-field">
                <input matInput [(ngModel)]="creation_payload.end_hours"
                myNumberOnly maxlength="2">
            </mat-form-field> 

            <span>:</span>

            <mat-form-field class="create-cam-time-field m-r-5">
                <input matInput [(ngModel)]="creation_payload.end_minutes"
                myNumberOnly maxlength="2">
            </mat-form-field>

            <mat-form-field class="create-cam-meridian-field">
                <mat-select [(value)]="creation_payload.end_meridies">
                  <mat-option *ngFor="let m of meridies" value={{m}}>{{m}}</mat-option>
                </mat-select>
            </mat-form-field>

      </div>
      <!-- END -> End time Div -->
      
      <div>
          <mat-form-field *ngIf="campaign_type !== 'event_triggered'">
              <mat-select [(value)]="creation_payload.segment_or_event_name" placeholder="Select a Segment">
                <mat-option *ngFor="let seg of campaign_triggers" value={{seg.segment_name}}>{{seg.segment_name}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-form-field class="mr-10" *ngIf="campaign_type === 'event_triggered'">
              <mat-select [(value)]="creation_payload.segment_or_event_name" placeholder="Select activation Event">
                <mat-option *ngFor="let event of campaign_triggers" value={{event}}>{{event}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-form-field *ngIf="campaign_type === 'event_triggered'">
              <mat-select [(value)]="creation_payload.deactivate_event" placeholder="Select deactivation Event">
                <mat-option *ngFor="let event of campaign_triggers" value={{event}}>{{event}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-radio-group [(ngModel)]="is_recurring" *ngIf="campaign_type !== 'one_time_triggered'">
              <mat-radio-button class="mr-10" value="1">Recurring</mat-radio-button>
              <mat-radio-button value="2">OneTime</mat-radio-button>
            </mat-radio-group>
      </div>

      <button mat-raised-button color="primary" (click)="validateFirstStep();">
        Next
      </button>

  </mat-card>
  <!-- END -> Basic Details -->

  <div class="row">

    <!-- START -> Add Channel Div -->
      <div class="col-sm-8">
          <mat-card *ngIf="show_second_Step" class="m-t-20">

              <h5>Add Channels</h5>

              <div>

                  <mat-checkbox class="mr-10" [(ngModel)]="email_channel" (click)="createChannel('email')">
                    Email
                  </mat-checkbox>
                  <mat-checkbox class="mr-10" [(ngModel)]="sms_channel" (click)="createChannel('sms')">
                    SMS
                  </mat-checkbox>
                  <mat-checkbox [(ngModel)]="push_notification_channel" (click)="createChannel('push_notification')">
                    Push Notif
                  </mat-checkbox>

              </div>

              <div *ngIf="html_channel_arr.length">

                  <div  *ngFor="let ch of html_channel_arr">

                    <mat-card class="m-t-10"  *ngIf="selected_channels.indexOf(ch) < 0">

                        
                            <h6>{{ch.name}} Template</h6>

                            <mat-form-field class="w100">
                                <mat-select placeholder="Select the Template To send" [(ngModel)]="ch.template"
                                (selectionChange)="ch.selected_template = ch.template.template_name">
                                  <mat-option *ngFor="let template of templates[ch.name]" [value]="template">{{template.template_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
        
                            <div *ngIf="campaign_type === 'event_triggered'">
                                <div>Waiting Time:</div>
        
                                <mat-form-field class="mr-10 w-25">
                                  <input matInput placeholder="Waiting Value" [(ngModel)]="ch.waiting_time.value" 
                                  myNumberOnly maxlength="2">
                                </mat-form-field>
        
                                <mat-form-field class="mr-10 w-25">
                                <mat-select placeholder="Time Unit" [(value)]="ch.waiting_time.unit">
                                  <mat-option value="minute">Minute</mat-option>
                                  <mat-option value="hour">Hour</mat-option>
                                  <mat-option value="day">Day</mat-option>
                                  <mat-option value="month">Month</mat-option>
                                </mat-select>
                              </mat-form-field>
        
                              </div>
        
                            <div *ngIf="is_recurring === '1'">
                                
                              <div>Frequency:</div>
        
                                <mat-form-field class="mr-10 w-25">
                                  <mat-select placeholder="Frequency" [(value)]="ch.frequency_obj.frequency">
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                  </mat-select>
                                </mat-form-field>
        
                                <mat-form-field class="mr-10 w-25">
                                  <mat-select placeholder="Time Interval" [(value)]="ch.frequency_obj.frequency_time">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                    <mat-option value="7">7</mat-option>
                                    <mat-option value="8">8</mat-option>
                                    <mat-option value="9">9</mat-option>
                                    <mat-option value="10">10</mat-option>
                                  </mat-select>
                                </mat-form-field>
        
                                <mat-form-field>
                                  <mat-select placeholder="Time Unit" [(value)]="ch.frequency_obj.frequency_unit">
                                    <mat-option value="hours">Hours</mat-option>
                                    <mat-option value="days">Days</mat-option>
                                  </mat-select>
                                </mat-form-field>
        
                              </div>
        
                              <button mat-raised-button color="primary" (click)="addChannel(ch);">
                                  Add Channel
                                </button>

                    </mat-card>
              </div>

              </div>
        
          </mat-card>
      </div>
      <!-- END -> Add Channel Div -->

       <!-- START -> Channel Preview Div -->
      <div class="col-sm-4">

          <mat-card *ngFor="let ch of selected_channels" class="m-t-10">

            <div>

              <h5 class="text-center">
                <u>Tempalte {{ch.name}}</u>
              </h5>

                <h6 class="m-t-20">
                    {{ch.selected_template}}
                    <i class="fa fa-remove mr-10 float-right" aria-hidden="true"
                    (click)="removeChannel(ch)"></i>
                    <div style="clear:both;"></div>
                </h6>

                <div class="row" *ngIf="campaign_type === 'event_triggered'">
                    <div class="col-sm-12">
                      <b>Waiting Time : </b> 
                      {{ch.waiting_time.value}} {{ch.waiting_time.unit}}
                    </div>
                </div>

                <div class="row" *ngIf="is_recurring === '1'">
                    <div class="col-sm-12">
                      <b>Frequency : </b> 
                      {{ch.frequency_obj.frequency}} times after {{ch.frequency_obj.frequency_time}} {{ch.frequency_obj.frequency_unit}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                      <button mat-raised-button class="primary-btn m-t-20" color="primary"
                      (click)="preview(ch)">
                        Preview
                      </button>
                    </div>
                </div>

            </div>

          </mat-card>

      </div>
      <!-- END -> Channel Preview Div -->

  </div>

  <div class="row m-t-20">
    <div class="col-sm-12 text-center">

        <button mat-raised-button color="primary" (click)="createCampaign();" [disabled]="selected_channels.length <= 0">
            Launch Campaign
          </button>

    </div>
  </div>

  

  <!-- <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step>

      <ng-template matStepLabel class="fs-20">Fill basic segment details</ng-template>

      <div>
          <mat-form-field class="w-75">
              <input matInput placeholder="Enter Campaign Name" [(ngModel)]="creation_payload.campaign_name">
          </mat-form-field>
      </div>

       <div>

          <mat-form-field class="mr-10">
              <input matInput [min]="min_date" [matDatepicker]="picker" placeholder="Choose a start date" 
              [(ngModel)]='creation_payload.start_date' disabled>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker  disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="create-cam-time-field">
                <input matInput [(ngModel)]="creation_payload.start_hours"
                myNumberOnly maxlength="2">
            </mat-form-field> 

            <span>:</span>

            <mat-form-field class="create-cam-time-field m-r-5">
                <input matInput [(ngModel)]="creation_payload.start_minutes"
                myNumberOnly maxlength="2">
            </mat-form-field>

            <mat-form-field class="create-cam-meridian-field">
                <mat-select [(value)]="creation_payload.start_meridies">
                  <mat-option *ngFor="let m of meridies" value={{m}}>{{m}}</mat-option>
                </mat-select>
            </mat-form-field>

      </div> 

       <div *ngIf="campaign_type !== 'one_time_triggered'">

          <mat-form-field class="mr-10">
              <input matInput [min]="creation_payload.start_date" [matDatepicker]="picker1" placeholder="Choose a end date" 
              [(ngModel)]="creation_payload.end_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1  disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="create-cam-time-field">
                <input matInput [(ngModel)]="creation_payload.end_hours"
                myNumberOnly maxlength="2">
            </mat-form-field> 

            <span>:</span>

            <mat-form-field class="create-cam-time-field m-r-5">
                <input matInput [(ngModel)]="creation_payload.end_minutes"
                myNumberOnly maxlength="2">
            </mat-form-field>

            <mat-form-field class="create-cam-meridian-field">
                <mat-select [(value)]="creation_payload.end_meridies">
                  <mat-option *ngFor="let m of meridies" value={{m}}>{{m}}</mat-option>
                </mat-select>
            </mat-form-field>

      </div> 
      
      <div>
          <mat-form-field *ngIf="campaign_type === 'segment_triggered' || campaign_type === 'one_time_triggered'">
              <mat-select [(value)]="creation_payload.segment_or_event_name" placeholder="Select a Segment">
                <mat-option *ngFor="let seg of campaign_triggers" value={{seg.segment_name}}>{{seg.segment_name}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-form-field class="mr-10" *ngIf="campaign_type === 'event_triggered'">
              <mat-select [(value)]="creation_payload.segment_or_event_name" placeholder="Select activation Event">
                <mat-option *ngFor="let event of campaign_triggers" value={{event}}>{{event}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-form-field *ngIf="campaign_type === 'event_triggered'">
              <mat-select [(value)]="creation_payload.deactivate_event" placeholder="Select deactivation Event">
                <mat-option *ngFor="let event of campaign_triggers" value={{event}}>{{event}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div>
          <mat-radio-group [(ngModel)]="is_recurring" *ngIf="campaign_type !== 'one_time_triggered'">
              <mat-radio-button class="mr-10" value="1">Recurring</mat-radio-button>
              <mat-radio-button value="2">OneTime</mat-radio-button>
            </mat-radio-group>
      </div>

      <button mat-raised-button color="primary" matStepperNext [disabled]="validateFirstStep()">Next</button>
    

    </mat-step>

    <mat-step>
      <ng-template matStepLabel class="fs-20">Select Campaign Channels</ng-template>
      <mat-checkbox class="mr-10" [(ngModel)]="email_channel" (click)="selectChannel('email')">Email</mat-checkbox>
      <mat-checkbox class="mr-10" [(ngModel)]="sms_channel" (click)="selectChannel('sms')">SMS</mat-checkbox>
      <mat-checkbox [(ngModel)]="push_channel" (click)="selectChannel('push')">Push Notif</mat-checkbox>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step *ngFor="let ch of creation_payload.channel; let i = index">
          <ng-template matStepLabel class="fs-20">{{ch.name | titlecase}} Channel</ng-template>
          <mat-form-field class="w100">
            <mat-select placeholder="Select the Template To send" [(value)]="creation_payload.channel[i].selected_template">
              <mat-option *ngFor="let template of templates[ch.name]" value={{template.template_name}}>{{template.template_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div *ngIf="campaign_type === 'event_triggered'">
            <span>Waiting Time:</span>
            <br>
            <mat-form-field class="mr-10 w-25">
              <input matInput placeholder="Enter amount" [(ngModel)]="creation_payload.channel[i].waiting_time.value">
            </mat-form-field>
            <mat-select class="w-25" placeholder="Time Unit" [(value)]="creation_payload.channel[i].waiting_time.unit">
              <mat-option value="minute">Minute</mat-option>
              <mat-option value="hour">Hour</mat-option>
              <mat-option value="day">Day</mat-option>
              <mat-option value="month">Month</mat-option>
            </mat-select>
          </div>
          <div *ngIf="is_recurring === '1' && campaign_type !== 'one_time_triggered'">
            <span>Frequency:</span>
            <br>
            <mat-form-field class="mr-10 w-25">
              <mat-select placeholder="Frequency" [(value)]="creation_payload.channel[i].frequency_obj.frequency">
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="mr-10 w-25">
              <mat-select placeholder="Time Interval" [(value)]="creation_payload.channel[i].frequency_obj.frequency_time">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
                <mat-option value="7">7</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="9">9</mat-option>
                <mat-option value="10">10</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Time Unit" [(value)]="creation_payload.channel[i].frequency_obj.frequency_unit">
                <mat-option value="hours">Hours</mat-option>
                <mat-option value="days">Days</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-button matStepperPrevious *ngIf="i >0">Back</button>
          <button mat-raised-button color="primary" matStepperNext *ngIf="i + 1 !== creation_payload.channel.length">Next</button>
        </mat-step>
      </mat-vertical-stepper>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext [disabled]="validateCreationStepTwo()">Next</button>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel class="fs-20">Preview</ng-template>
      The campaign {{creation_payload.campaign_name}} will run from {{start_date}} to {{end_date}}.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="go()" [disabled]="validateCreationStepTwo()">Create</button>
      </div>
    </mat-step>

  </mat-vertical-stepper> -->


</div>