<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" 
  (closed)="events.push('close!')">
    
    <div class="left-sidebar-h">
        FLYROBE
    </div>


    <div class="w100">
      <a routerLink='/home'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home'}">
          <i class="fa fa-line-chart mr-10" aria-hidden="true"></i>
          Live Events</div>
      </a>
      <a routerLink='/home/campaigns'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home/campaigns'}">
          <i class="fa fa-volume-up mr-10" aria-hidden="true"></i>
          Campaigns</div>
      </a>
      <a routerLink='/home/segments'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home/segments'}">
          <i class="fa fa-check-square-o mr-10" aria-hidden="true"></i>
          Segments</div>
      </a>
      <a routerLink='/home/push'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home/push'}">
          <i class="fa fa-paper-plane mr-10" aria-hidden="true"></i>
          Push Notifications</div>
      </a>
      <a routerLink='/home/sms'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home/sms'}">
          <i class="fa fa-comments-o mr-10" aria-hidden="true"></i>
          Sms</div>
      </a>
      <a routerLink='/home/email'>
        <div class="sidenav-link" [ngClass]="{'active-sidenav': current_route=='/home/email'}">
          <i class="fa fa-envelope-o mr-10" aria-hidden="true"></i>
          Email</div>
      </a>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->

    <div class="content-header">
      <div>
        <button mat-button (click)="sidenav.toggle()" class="float-left">
          <i class="fa fa-compress" aria-hidden="true"></i>
        </button>
        <div *ngIf="mode == 0" class="mode-text float-left">Test Mode</div>
        <div *ngIf="mode != 0" class="float-left mode-text">Live Mode</div>
        <div style="clear:both;"></div>
      </div>
      <div>
        <span class="mr-10">{{username}} </span>
        <button [matMenuTriggerFor]="menu"><i class="material-icons fa fa-sort-desc"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="header-menu-item" color="warn" (click)="logoutUser()">Logout</button>
          <button mat-menu-item class="header-menu-item" color="warn" (click)="openSwitchModal()">Switch Mode</button>
        </mat-menu>
        <!-- <button mat-raised-button color="warn" (click)="logoutUser()">Logout</button> -->
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="content-footer">
      Dexter's Lab
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>