mat-sidenav {
    color: white;
    width: 250px !important;
    background-color: #23242d;
}

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav-content {
    background-color: white;
}

.content-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 -1px 7px -2px;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index : 10;
}
.content-header{
    width: calc(100% - 250px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 10px;
    box-shadow: 0 -1px 7px -2px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.sidenav-link {
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 100
}

.sidenav-link:hover{
    color: #23242d;
    background-color: white;
}

.w100>a {
    text-decoration: none;
}

.left-sidebar-h{
    height: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.active-sidenav{
    background-color: lightblue;
    color: black;
}

.header-menu-item{
    font-size: 14px;
    height: 30px;
    line-height: 28px;
}

.mode-text{
    margin-top: 5px;
    color: red;
}