<div class="modal-wrapper">
  <h3>Send Your Email</h3>
  <div>Current Template: <b>{{template_name}}</b></div>
  <div>Email's Subject: <b>{{sending_payload.subject }}</b></div>
  <div>
    <mat-form-field>
      <mat-select [(ngModel)]="target_user_group" placeholder="Select Target Users">
        <mat-option value="0">All Users</mat-option>
        <mat-option value="1">Specific Users</mat-option>
        <mat-option value="2">Segment Of Users</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ngIf="target_user_group == 1">
      <input matInput placeholder="Enter Comma Seperated User Emails" [(ngModel)]="user_emails">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ngIf="target_user_group == 2">
      <mat-select [(ngModel)]="selected_segment" placeholder="Select User Segment">
        <mat-option *ngFor="let segment of segments_list" value="{{segment}}">{{segment.segment_name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="sendEmail()">Go</button>

</div>